/* 
Color Pallete
prim: #E6DEDD
second: #8f1d14
tert: #1b120f
quart: #f89d13
*/

/* Fonts
font-family: 'DM Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" */

:root {
    --prim: #E6DEDD;
    --second: #8f1d14;
    --tert: #1b120f;
    --quart: #f89d13;
}

html {
    background-color: var(--tert);
}

body {
    position: relative;
    color: var(--prim);
    width: 100%;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

/* Hides content */
.hidden {
    display: none;
}

/* Gives backlight to element */
.backlight {
    box-shadow: 0 0 8px 2px var(--quart);
}

/* Gives rounded corners to element */
.rounded {
    border-radius: 5px;
}

/* Header */
#banner {
    font-family: 'Oswald', sans-serif;
    width: 98%;
}

#banner h1,
#banner p {
    color: var(--quart);
}

#search-watchlist {
    width: 100%;
}

/* Search Bar */
#search-container {
    width: 100%;
    max-height: 340px;
}

#search-container h2 {
    color: var(--prim);
}

#search-container input[type=text],
#search-container select {
    background-color: var(--prim);
    font-family: 'DM Sans', sans-serif;
    font-size: 100%;
}

#checkbox-container input[type=checkbox] {
    width: 20px;
    height: 20px;
}

#checkbox-container label {
    font-size: 110%;
}

#search-container button {
    width: 100%;
    background-color: var(--second);
    color: var(--prim);
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 120%;
}

/* Watchlist */
#watchlist {
    background-color: var(--prim);
    width: 100%;
    max-height: 180px;
    overflow: scroll;
}

#watchlist-button {
    width: 95%;
}

#watchlist button {
    background-color: var(--quart);
    width: 100%;
    font-size: 130%;
    font-weight: 600;
}

.divider {
    width: 90%;
    height: 1px;
    background-color: #bdb6b5;
}

#watchlist-items {
    color: var(--tert);
}

#watchlist-items li {
    width: 80%;
    margin: .25em 2em;
}

#watchlist-items h4 {
    width: 100%;
    font-weight: 600;
}

/* Movie List */
#movie-container {
    width: 100%;
}

#movie-container ul {
    list-style-type: none;
    text-decoration: none;
}

/* Movie Cards use custom styles to simplify generating them in JS */
.movie-card {
    display: flex;
    flex-direction: column;
    padding: .5em;
    background-color: var(--prim);
    color: #1b120f;
    margin-bottom: .5em;
}

.movie-card figure {
    display: contents;
} 

.movie-card img {
    width: 60%;
    margin: 0.5em auto;
}

.movie-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5em 1em;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

#movie-container h3 {
    margin-bottom: 0;
    align-self: center;
}

.top-row p {
    background-color: var(--tert);
    color: var(--prim);
    border-radius: 20px;
    height: fit-content;
    padding: .2em .3em;
}

.streaming-list {
    display: flex;
    flex-wrap: wrap;
}

.streaming-list li {
    margin-bottom: .5em;
}

.movie-desc a {
    width: 100%;
    text-decoration: none;
    background-color: var(--second);
    color: var(--prim);
    padding: .3em .75em;
    margin: 0 .1em;
    border-radius: 20em;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    font-weight: 600;
}

.add-btn-container {
    display: flex;
    justify-content: end;
}

.add-button {
    border: none;
    border-radius: 5px;
    background-color: var(--quart);
    margin-top: 1em;
    padding: .2em .6em;
    font-weight: 500;
}

/* Animations */
#search-container button:hover {
    background-color: #92453f;
    box-shadow: 0 0 8px 2px var(--quart);
}

.movie-desc a:hover {
    background-color: #92453f;
    box-shadow: 0 0 8px 2px var(--second);
}

button:active,
a:active {
    transform: scale(.98, 0.9);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .movie-card {
        flex-direction: row;
    }

    /* #movie-container img {
        width: 25%;
    } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* Main */
    #main-container {   
        flex-direction: row !important; 
        justify-content: space-between;
    }

    /* Seach Bar */
    #search-watchlist {
        width: 40%;
    }

    /* Watchlist */
    #watchlist {
        max-height: none;
        overflow: hidden;
    }

    /* Movie List */
    #movie-container {
        width: 59%;
    }

    .movie-card img {
        width: 30%;
    }
}